@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-Light.woff2") format("woff2"),
    url("../fonts/Archivo-Light.woff") format("woff"),
    url("../fonts/Archivo-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-LightItalic.woff2") format("woff2"),
    url("../fonts/Archivo-LightItalic.woff") format("woff"),
    url("../fonts/Archivo-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-Regular.woff2") format("woff2"),
    url("../fonts/Archivo-Regular.woff") format("woff"),
    url("../fonts/Archivo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-Italic.woff2") format("woff2"),
    url("../fonts/Archivo-Italic.woff") format("woff"),
    url("../fonts/Archivo-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-Medium.woff2") format("woff2"),
    url("../fonts/Archivo-Medium.woff") format("woff"),
    url("../fonts/Archivo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-MediumItalic.woff2") format("woff2"),
    url("../fonts/Archivo-MediumItalic.woff") format("woff"),
    url("../fonts/Archivo-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-Bold.woff2") format("woff2"),
    url("../fonts/Archivo-Bold.woff") format("woff"),
    url("../fonts/Archivo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-BoldItalic.woff2") format("woff2"),
    url("../fonts/Archivo-BoldItalic.woff") format("woff"),
    url("../fonts/Archivo-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-Black.woff2") format("woff2"),
    url("../fonts/Archivo-Black.woff") format("woff"),
    url("../fonts/Archivo-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Archivo";
  src:
    url("../fonts/Archivo-BlackItalic.woff2") format("woff2"),
    url("../fonts/Archivo-BlackItalic.woff") format("woff"),
    url("../fonts/Archivo-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
